<div class="row">
  <div class="col d-flex">
    <app-sidebar></app-sidebar>

    <div class="col">

      <div class="hero-login">
        <h1>
          Trailers
        </h1>
        <div class="container">
          <div class="login">
            <button routerLink="/auth/login">Login</button>
          </div>
          <div class="register">
            <button routerLink="/auth/register">Register</button>
          </div>
        </div>

      </div>

      <div class="mt-5 carousel">

        <h3>
          Trailers
        </h3>

        <div class="container-fluid">
          <app-carousel [trailer]="categories[0]"></app-carousel>
        </div>


        <div class="view-more">
          <button routerLink="../traillers"
                  class="btn btn-primary btn-lg btn-block">
            View More
          </button>
        </div>

      </div>

    </div>


  </div>


</div>

<!--<router-outlet></router-outlet>-->
