<app-sidebar [style]="{ 'position': 'sticky', 'width': '100%'}"></app-sidebar>
<div class="row">
  <div class="col d-flex">

    <div class="col">

      <div class="hero-login">
        <h1>
          Trailers
        </h1>
        <div class="container">
          <div class="login">
            <button routerLink="/auth/login">Login</button>
          </div>
          <div class="register">
            <button routerLink="/auth/register">Register</button>
          </div>
        </div>

      </div>

      <div class="carousel">

        <h3>
          Trailers
        </h3>

        <div class="container">
          <app-carousel [trailer]="categories[0]"></app-carousel>
          <app-carousel [trailer]="categories[1]"></app-carousel>
          <button routerLink="../traillers"
                  class="btn btn-primary btn-lg btn-block">
            View More
          </button>
        </div>

      </div>

    </div>


  </div>


</div>

<!--<router-outlet></router-outlet>-->
