<div class="row">
  <div class="col d-flex">
    <app-sidebar></app-sidebar>

    <div class="col">

      <div class="hero-login">
        <h1>
          Trailers
        </h1>
        <div class="container">
          <div class="login">
            <button routerLink="/auth/login">Login</button>
          </div>
          <div class="register">
            <button routerLink="/auth/register">Register</button>
          </div>
        </div>

      </div>

      <div class="hero">
        <button routerLink="../traillers">Trailers</button>
      </div>




    </div>
  </div>

</div>

<!--<router-outlet></router-outlet>-->
