<div class="row container-fluid">
  <div class="col">
    <h1>
      <span class="badge badge-secondary">Trailers</span>
    </h1>

    <input type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
            (keyup)="search(searchText)"
            autofocus>

    <div class="row row-cols-3" *ngFor="let trailer of traillers">
      <div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-6 col rounded me-3">
          <iframe width="360" height="215" [src]="trailer.link | safe" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <h4 class="d-flex">
            <span class="badge ">{{trailer.titulo}}</span>
            <small class="mt-1 text-muted">{{trailer.category}}</small>
          </h4>
        </div>

      </div>
    </div>

  </div>
</div>

