<div class="row container-fluid">
  <div class="col">
    <h1>
      <span class="badge badge-secondary">Trailers</span>
    </h1>

    <input type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
            (keyup)="search(searchText)"
            autofocus>

    <div class="row row-cols-3" *ngFor="let t of traillers">
      <div *ngFor="let trailer of t.trailer">
        <div class="col-lg-3 col-md-4 col-sm-5 col-6 col rounded me-3">
          <img width="290" height="215"
               [src]="trailer.img | safe"
               class="rounded-2 mt-2"
               [alt]="trailer.titulo"
               routerLink="../detail/{{trailer.id}}">
          <h4 class="d-flex">
            <span class="badge ">{{trailer.titulo}}</span>
            <small class="mt-1 text-muted">{{trailer.category}}</small>
          </h4>
        </div>

      </div>
    </div>

  </div>
</div>

